#root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: inherit;
  overflow-x: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}
